<web-app>
<servlet>
<servlet-name>SendMail</servlet-name>
<servlet-class>SendMail</servlet-class>      
</servlet>
<servlet-mapping>
<servlet-name>SendMail</servlet-name>
<url-pattern>/mailsend</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DemoServlet</servlet-name>
<servlet-class>DemoServlet</servlet-class>      
</servlet>
<servlet-mapping>
<servlet-name>DemoServlet</servlet-name>
<url-pattern>/demo</url-pattern>
</servlet-mapping>

</web-app>